
@import '@keyframes.css';
@import 'keyCod.css';

body{
  background-color:black;
}

h1{
	color:white;
	text-align:center;
	font-family:arial,san-serif;
	margin-bottom:0;
}

.game-arena{
	width:1200px;
	height:250px;
	margin:2% auto 0;
	border: 30px solid;
	border-image:url(../img/bricks.png);
	border-image-slice: 100% 0%;
  border-image-repeat: round;
	overflow:hidden;
}

.border{
	margin:-30px -30px -30px 0;
	width:1140px;
	height:250px;
	border: 30px solid;
	border-image:url(../img/bricks.png);
	border-image-slice: 0% 100%;
	border-image-repeat: round;
	display:block;
  overflow:hidden;
}

#tank,.tank{
  width: 100px;
  height: 73px;
  position: relative;
	background: url(../img/Battle_Tank.png) center no-repeat ;
  background-size: 100%;
	float:left;
	display:block;
	margin:0;
	padding:0;
}

.tank{
	transform: rotate(180deg);
	left:940px;
	bottom:0;
}

.tank-shoot-bullet {
  width: 75px;
  height: 75px;
	margin:0;
	padding:0;
	position:relative;
	top:0;
	left:100px;
  background: url(../img/bullet.png) no-repeat;
	background-size:100%;

	float:left;
	z-index:-10;
}

.tank-bullet-death{
	width:85px;
	height:85px;
	position:relative;
	top:0;
	left:0;
	background: url(../img/Fireball.png) no-repeat ;
	background-size: 100%;
	display:inline-block;
	animation-name: Death;
  animation-duration: 2s; 
  animation-timing-function: ease-in-out; 
	transform: rotate(0deg);
	visibility: hidden;
}
 